.booklist, .book-details{
    padding: 1rem ;
    background-color: #f8f9fa;
}
.booklist-content{
    gap: 3rem;
}
.book-item{
    width: 400px;
    max-width: 400px;
    height: 550px;
    max-height: 500px;
    padding: 3rem 2rem;
    border-radius: 8px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.05) 1px 5px 15px 0px;
    transition: var(--transition);
}
.book-item:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.book-item-img img{
    max-width: 180px;
    margin-right: auto;
    margin-left: auto;
}
.book-item-info{
    margin-top: 1rem;
}
.book-item-info-item.title{
    line-height: 1.4;
    margin-bottom: 0.8rem;
}
.book-item-info-item.author{
    line-height: 1.4;
    margin-bottom: 4px;
}
.book-item-info-item:not(.book-item-info-item.title) span:last-child{
    opacity: 0.8;
}
.book-item-info-item.publish-year{
    opacity: 0.6;
    font-style: italic;
    font-size: 14px;
}

.btn-book  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}   

.btn-book a{
    width: 150px;
    padding: 0.5rem;
    align-items: center;
    border-radius: 8rem;
    color: var(--light-black-color);
    border: 1px solid var(--purple-color);
    font-size: 13px;
    transition: var(--transition);
}
.btn-book a:hover{
    width: 150px;
    padding: 0.5rem;
    background-color: var(--purple-color);
    align-items: center;
    border-radius: 8rem;
    color: var(--white-color);
    border: 1px solid var(--purple-color);
    font-size: 13px;
}

@media screen and (min-width: 600px){
    .booklist-content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .booklist-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .book-item-img img{
        max-width: 150px;
    }
}

@media screen and (min-width: 992px){
    .booklist-content{
        grid-template-columns: repeat(4, 1fr);
    }
    .book-item-img img{
        max-width: 120px;
    }
}